In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# read files

movie_file = ("Resources/movies_metadata.csv")

grossing_movies_file = ("Resources/Top_Grossing_Movies_of_2018.csv")

In [3]:
#Read city data file with the pandas library.

#movies metadata
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()

#grossing movies
top_grossing_movies_df = pd.read_csv(grossing_movies_file)
top_grossing_movies_df.head()

C:\Users\jarrett\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Rank,Movie,Release,Distributor,Genre,MPAA,2018 Gross,Tickets Sold
0,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN
1,1,Black Panther,2/16/18,Walt Disney,Action,PG-13,"$700,059,566","78,044,544"
2,2,Avengers: Infinity War,4/27/18,Walt Disney,Action,PG-13,"$678,815,482","75,676,196"
3,3,Incredibles 2,6/15/18,Walt Disney,Adventure,PG,"$608,581,744","67,846,348"
4,4,Jurassic World: Fallen Kingdom,6/22/18,Universal,Action,PG-13,"$417,719,760","46,568,535"

In [4]:
#movies metadata
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()

#grossing movies
top_grossing_movies_df = pd.read_csv(grossing_movies_file)
top_grossing_movies_df.head()

C:\Users\jarrett\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Rank,Movie,Release,Distributor,Genre,MPAA,2018 Gross,Tickets Sold
0,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN
1,1,Black Panther,2/16/18,Walt Disney,Action,PG-13,"$700,059,566","78,044,544"
2,2,Avengers: Infinity War,4/27/18,Walt Disney,Action,PG-13,"$678,815,482","75,676,196"
3,3,Incredibles 2,6/15/18,Walt Disney,Adventure,PG,"$608,581,744","67,846,348"
4,4,Jurassic World: Fallen Kingdom,6/22/18,Universal,Action,PG-13,"$417,719,760","46,568,535"